body{
    text-align: center;
    font-family: fantasy;
}
.home{
    background-image: url(../images/1078022.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.header{
    padding-top: 200px;
    padding-bottom: 250px;
    padding-right: 900px;
    color: wheat;
}
.header p{
    font-size: 20px;
}
#social{
    padding: 50px 50px;
    
}
#social li{
    list-style-type: none;
    padding-bottom: 50px;
}
#message{
    background-image: url(../images/company-logo.jpg);
    background-size: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 80px;
}
#contact h3{
    font-size: 25px;
    text-decoration: underline;
}
#Prices h3{
    text-decoration: underline;
}
footer{
    background-color: #2c292f;
}
footer h4{
    font-size: 17px;
}
.name
{
    background-color: transparent;
    color: black;
    width: 300px;
}
.email
{
    background-color: transparent;
    color: black;
    width: 300px;
}
.message
{
    background-color: transparent;
    color: black;
    width: 550px;
    padding-bottom: 105px;
}


